@model Color


   
  
    <div class=" card">
      <div class="card-body">
                    <div class=" col-3 card" style="width: 18rem;">
                        <div class="card-header">
                            Color Name:@Model.Name
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Id:@Model.Id</li>

                <a class="nav-link" asp-controller="Color" asp-action="Index">Back</a>

              
          
                        </ul>
                    </div>
        
      </div>
    </div>
   </div>








