@model Slide





    <div class=" col-3 row">
        <div class="card" style="width: 18rem;">
            <img src="~/assets/images/slider/@Model.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Title:@Model.Title</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">SubTitle:@Model.Subtitle</li>
                    <li class="list-group-item">Order:@Model.Order</li>
                    <p class="card-text">Description:@Model.Description</p>
                </ul>
            </div>
           
           
           
        </div>
        
    </div>
    


